<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />

  <link rel="stylesheet" href="/static/css/formulario.css" />
  <title>Todos estamos contigo</title>
</head>

<body>
  <h1 class="text-light text-center">PRESTADOR DE SERVICIO</h1>
  <form>
    <div class="input-group mb-3">
      <input id="nombreNegocio" type="text" class="form-control text-light" placeholder="Nombre de negocio"
        aria-label="Nombre de negocio" />
      <input id="nombreCompleto" type="text" class="form-control text-light" placeholder="Nombre completo"
        aria-label="Nombre completo" />
    </div>
    <div class="input-group mb-3">
      <input id="telefono" type="text" class="form-control text-light" placeholder="Número de teléfono"
        aria-label="Numero de telefono" />

      <input id="email" type="text" class="form-control text-light" placeholder="Correo electrónico"
        aria-label="Correo electronico" />
    </div>
    <div class="input-group mb-3">
      <input id="password" type="password" class="form-control text-light" placeholder="Contraseña"
        aria-label="Contraseña" />
    </div>
    <div class="input-group mb-3">
      <input id="cedula" type="text" class="form-control text-light" placeholder="Cédula profesional(opcional)"
        aria-label="Cedula profecional(opcinal)" />

      <select id="servicio" class="form-select text-light" aria-label="Default select example">
        <option selected>seleccione algun tipo de servicio</option>
        <option value="medico">Servicio médico</option>
        <option value="enfermeros">Servicio enfermería</option>
        <option value="oxigeno">Servicio oxígeno</option>
        <option value="funeraria">Servicio funeraria</option>
      </select>
    </div>

    <h4 class="text-light text-center">
      Seleccione una opcion de subscripcion
    </h4>

    <div class="form-check form-check-inline">
      <input class="form-check-input center" type="checkbox" id="inlineCheckbox1" value="option1" />
      <label class="form-check-label text-light" for="inlineCheckbox1">MENSUAL</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input center" type="checkbox" id="inlineCheckbox2" value="option2" />
      <label class="form-check-label text-light" for="inlineCheckbox2">ANUAL</label>
    </div>

    <button type="submit" class="btn">GUARDAR</button>

    <div id="message" class="p-2 m-2 text-light rounded"></div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120319.56832635302!2d-96
        .96731050050263!3d19.542192703727768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85db321ca
        1f225d9%3A0x584837bc4340a47c!2sXalapa-Enr%C3%ADquez%2C%20Ver.
        !5e0!3m2!1ses!2smx!4v1681583452939!5m2!1ses!2smx" width="600px" height="450" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <div class="input-group mb-3" width="100px" height="75px">
        <input type="text" class="form-control text-light right" placeholder="latitud" aria-label="" />
        <input type="text" class="form-control text-light right" placeholder="longitud" aria-label="" />
      </div>
    </div>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    let buttonSubmit = document.querySelector("button");

    const nombreNegocio = document.getElementById("nombreNegocio");
    const nombreCompleto = document.getElementById("nombreCompleto");
    const telefono = document.getElementById("telefono");
    const email = document.getElementById("email");
    const cedula = document.getElementById("cedula");
    const password = document.getElementById("password");

    const servicio = document.getElementById("servicio");

    const message = document.getElementById("message");

    buttonSubmit.addEventListener("click", registerService);

    function registerService(e) {
      e.preventDefault();

      console.log(nombreNegocio.value);
      console.log(telefono.value);
      console.log(servicio.selectedOptions[0].value);

      if (servicio.selectedIndex != 0) {
        axios
          .post(
            "/api/register",
            {
              nombreCompleto: nombreCompleto.value,
              nombreNegocio: nombreNegocio.value,
              telefono: parseInt(telefono.value),
              email: email.value,
              tipo: 1,
              servicio: servicio.selectedOptions[0].value,
              cedula: cedula.value,
              password: password.value,
              latitud: 21334.22,
              longitud: 232.12,
            },
            {
              withCredentials: true,
            }
          )
          .then(function (response) {
            console.log(response.data);
            message.style.backgroundColor = "#1da721";
            message.innerHTML = "Usuario creado correctamente";
          })
          .catch(function (error) {
            //parsear la respuesta
            const res = JSON.parse(error.request.response);
            let li = "";
            res.errors.forEach((el) => {
              console.log(el);
              li += `<li>${el}</li>`;
            });
            message.style.backgroundColor = "#a71d36";
            message.innerHTML = `
              <ul>
                ${li}
              </ul>
              `;
          });
      } else {
        message.innerHTML = "Selecciona una opcion";
      }
    }
  </script>
</body>

</html>