<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <title>Todos estamos con tigo</title>
</head>

<body>
    <!----============================barra de navegacion=======================================-->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">TODOS ESTAMOS CON TIGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light fs-6" aria-current="page" href="/">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fs-6" href="/medico">SERVICIO MEDICO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fs-6" href="/enfermeria">SERVICIO ENFERMERIA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fs-6" href="/funeraria">SERVICIO FUNERARIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fs-6" href="/oxigeno">SERVICIO OXIGENO</a>
                    </li>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="BUSCAR" aria-label="Search">
                        <button class="btn btn-outline-success text-light" type="submit text-light">BUSCAR</button>
                    </form>
            </div>
        </div>
    </nav>
    <!----================================================================================================-->
    <!-- Sección de fotografías -->
    <!-- <div class="container">
        <div class="row">
            <div class=".col-md-3 text-dark">1</div>
            <div class=".col-md-3 text-dark">2</div>
            <div class=".col-md-3 text-dark">3</div>
            <div class=".col-md-3 text-dark">4</div>
        </div>

    </div> -->
    <div class="container">
        <div class="column is-full-mobile">
            <div class="columns is-centered is-mobile is-multiline">
                {{range .message}}
                <div class="column column-full">
                    <div class="card">
                        <!-- <div class="card-header">
                        <div class="card-header-title"> {{ .nombre }}</div>
                    </div> -->
                        <span class="price text-light">Nombre: {{ .nombre }} - {{ .tipo }}</span>
                        <span class="price mt-4 text-light">Precio: {{ .costo }}</span>
                        <img src="/static/img/4.jpg" alt="">
                        <div class="card-info">
                            <h4 class="has-text-black has-text-centered has-text-weight-bold"> Women's Burnt Orenge
                                Casual TEE $89.99 </h4>
                            <p class="has-text-centered">Classic casual t-shirt for women on the move.
                                100%
                                cotton.</p>
                            <div class="card-buttons">
                                {{ range .idServicio}}
                                <a href="/funeraria/servicio/{{._id}}" class="btn btn--mini-rounded"><i
                                        class="bi bi-person-fill">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                        </svg></i></a>

                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="java scrip/main.js"></script>
</body>
<footer>
    <section>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#000b76" fill-opacity="1" d="M0,64L80,101.3C160,139,320,213,480,
       213.3C640,213,800,139,960,117.3C1120,96,1280,128,1360,144L1440,160L1440,
          320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
                </path>
            </svg>
        </div>
    </section>
</footer>

</html>